<mat-card class="example-card">

    
     
        
    

    <mat-card-content>
        <div class="img">
            <img mat-card-md-image src="{{volumeInfo.imageLinks.thumbnail}}"  alt="Image of a book">
        </div>
        <div class="img-desc">
            <h4 class="title">{{volumeInfo.title}}</h4> 
           <h5 class="auth-info"> {{volumeInfo.authors.join(',')}}</h5>
           <p>
            {{getShortDescription(volumeInfo.description)}}
            <ng-container *ngIf="displayEnableMore">
                <a class="read-more" [routerLink]="">Read more...</a>
            </ng-container>
           
           </p>
           
          

    
        </div>
      
       
        
    </mat-card-content>
    <mat-card-actions align="end">
            <mat-slide-toggle class="favtog" (change)="toggleFavorite($event,book)" [checked]="book.isFavorite" >Favorite</mat-slide-toggle>
            <button mat-button [routerLink]="['../',book.id,'details']">Details</button>
         
                <a href="{{volumeInfo.previewLink}}" mat-button   aria-label="Preview" target="_blank" rel="noopener noreferrer">Preview</a>
      
            
      </mat-card-actions>
  </mat-card>
  